@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --muted: rgba(0, 0, 0, 0.7);
  --primary: #3022ec;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-muted: var(--muted);
  --color-primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
